/* NAVEGACION O HEADER */
.navegacion {
    background-color: $fondo_navegador;
    border-bottom: $fondo_navegador solid;
    font-family: fuente_nav;

    .btn-primary {
        border-radius: 50px;
        color: black;

    }
    img {
        @extend .tamaño_imagen;
    }
}

